@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat+Alternates&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-areas:
    "hd hd hd"
    "sb main main"
    "ft ft ft "; */
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10vh auto 10vh;
  overflow: hidden;
  position: relative;
}


body {
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  font-family: "Berkshire Swash", cursive;
  /* font-family: 'Montserrat Alternates', sans-serif; *  ---->Nice One.<----/
  /* background-image:url(../public/Media/background1.jpg) */
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: auto; */
  width: 100%;
  height: 100%;
  /* margin-bottom: 5vh; */
}
.the-header {
  /* background: #e6c8b3; */
  width: 100%;
  /* height: 10vh; */
  grid-area: hd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-div {
  width: 97%;
  height: 100%;
}
.div-for-icon {
  display: flex;
  justify-content: flex-start;
  width: 9.9%;
  justify-content: space-around;
}
.div-for-others {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.links {
  padding: 10px;
  font-size: 2rem;
  /* border: rgba(245, 245, 245, 0.356) solid 1px; */
  padding: 10px;
  display: flex;
  /* background: rgba(245, 245, 245, 0.438); */
  /* border-radius: 40%; */
  margin: 10px;
}



.the-sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: row;
  /* margin-left: 90%;
  margin-top: 10vh; */
  justify-content: space-evenly;
  /* position: fixed; */
  
  width: 100vw;
  
}
.sb-links {
  font-size: 1rem;
  transition: 2s linear;
}