.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd"
    "sb main main main main"
    "sb main main main main"
    "sb main main main main"
    "ft ft ft ft ft";
  width: 100vw;
  height: 100vh;
  grid-template-columns: 10% 30% 30%;
  grid-template-rows: 30% 30% 10%;
  overflow-x: hidden;
}
body {
  background: rgba(255, 217, 0, 0.377);
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: main;
  border: 1px solid black;
  min-height: 100vh;
  overflow: auto;
}
.the-header {
  grid-area: hd;
  border: 1px solid black;
}
.the-footer {
  grid-area: ft;
  border: 1px solid black;
}
.the-sidebar {
  grid-area: sb;
  border: 1px solid black;
}
