.Slider{
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VolunteerImage{
    width: 58vw;
    height: 50vh;
    border-radius: 5px;
}

.left{
    position: absolute;
    top: 50%;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    font-size: 50px !important;
}

.right{
    position: absolute;
    top: 50%;
    right: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    font-size: 50px !important;
}

.slider{
    opacity: 0;
    transition-duration: 1s ease;
}

.slider.active{
    opacity: 3;
    transition-duration: 2s;
    transform: scale(1.08);
}

@media only screen and (max-device-width:440px) {
    .Slider{
        height:40vh
    }
    .VolunteerImage{
        height: 25vh;
    }
    .right{ 
        font-size: 30px !important;
    }
    .left{ 
        font-size: 30px !important;
    }
}

@media only screen and (min-device-width:700px) and (max-device-width:1024px){
    .Slider{
        height:60vh
    }
    .VolunteerImage{
        height: 40vh;
    }
    
}