.footer-basic {
    padding:30px;
    background-color:black;
    font-size:larger;
    border-radius: 15%;
  
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:white;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
  }
  
  .footer-basic .social > a {
    width:80px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:white

  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


.the-footer {
    grid-area: ft;
    border: 1px solid black;
    height: 20vh;
    transition: 2s;
    position: absolute;
    bottom: -20vh;
    width: 100%;
    
    background-color: black;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    z-index: 100
   
  }
  .active-footer {
    bottom: 0;
  }
  .footer-btn {
    z-index: 10;
    position: absolute;
    top: -10vh;
    background: none;
    border: none;
    cursor: pointer;
    left: 50%;

  }
  .footer-btn-icon{
    font-size: 4rem !important;
  }
  
  @media only screen and (max-width:510px) {
    .footer-basic{
      padding: 10px;
      font-size: smaller;
    }
    
  }