.welcome{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://d20umu42aunjpx.cloudfront.net/landingpages/volunteer-header.png);
    background-position: center;
    background-size: cover;
    position: relative; 
    padding: 0%;
    
    }