.lioe{
    align-items: center;
}
.welcome{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url();
    background-position: center;
    background-size: cover;
    position: relative; 
    padding: 0%;
    }
