
.Container{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
position: initial;
margin: 50px;
width:auto;
box-shadow: 5px 5px 5px;
transition: cubic-bezier(0.23, 1, 0.320, 1) 2s;
}
/* .card:hover{
transform: translateY(-20px);
} */
.card img{
    cursor: pointer;
}
.volPost-title{
    width: 100%;
    height: 5vh;
}
.spaceDiv{
    width: 100%;
    height: 30vh;
}

.details-btn{
  font-family: "Montserrat Alternates", sans-serif!important;
  height: 5vh;
  font-weight: bolder!important;  
  transition: 1s!important;
  border-radius: 19ch!important;
}
.details-btn:hover{
    font-family: "Montserrat Alternates", sans-serif!important;
    font-size: 15px!important;
  }

@media only screen and (max-device-width:440px) {
    .card{
        margin: 10px;
        position: initial;
        }
}