  .header-nav div button{
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important; */
      font-stretch: expanded;
      transition: 0.8s;
      color: white;

  }


.header-nav div{
    background: black;
    height: 10vh;
}
.header-nav {
    background: black!important;
}

.header-nav div img{
    width: auto;
}