.register-Container{
  height: 70vh;
  width: 95vw;
  display: flex;
  background: white;
  border-radius: 20ch;
  background-image: url(../../../../public/Media/Regi-BG.jpg);
  background-position: left;
  box-shadow: 5px 5px 5px 5px;
}

.regi-title-div{
  width: 50vw;
  height: 100vh;
  
}
.formDiv{
  width: 50vw;
  margin-top: 20vh;
}
.registerTitle{
  font-size: 120px;
  margin-top: 20vh;
  /* background: pink; */
  box-shadow: rgb(255, 255, 255) 5px 5px 5px 5px;
  border-radius: 10ch;
  animation:movingTitle alternate ease-in ;
  text-shadow:2px 2px 8px rgba(2, 0, 7, 0.959)
  
}

@keyframes movingTitle {
  
  
}
.letSpan{
  font-size: 50px;
}