.Cards{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.ThanksCards{
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
}
.ThanksCards img{
    border-radius: 100%;
    margin-bottom: 3vh;
}
.span{
    border-radius: 4px;
    width: 350px;
    border-bottom: solid black 3px;
}
.headline{
    height: 3vh;
    display: flex;
}
.headline h1{
    margin:4px;
    margin-right: 40px;
    margin-left: 40px;
    color: white;
}

.How-we-are{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.How-we-are p{ 
    font-weight: bold;
    font-size: 18px;
    font-family: "Montserrat Alternates", sans-serif;

}
.How-we-are span{
    font-family: "Berkshire Swash", cursive;
    font-weight: 400;
    border-bottom: 2px solid white;

}
.How-we-are h1{
    color: white;
} 

.Explication{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    width: 35%;
    font-weight: bold;
    font-size: 25px;
}

.Explication span{
    font-size: 30px;
    color: aliceblue;
}
.Explication p{
    text-align: left;
}
.bottom_page{
    display: flex;
    flex-direction: column;
}
.Pic_box{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.Pic_Section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Pic_Section h1{
    color: white;
}
.Pic_Section p{
    font-family: "Montserrat Alternates", sans-serif;

}
.slider {
    box-shadow:2px 2px 2px 2px black!important;
}
.laptopPic{
    width:700px;
}
.IPhonePic{
    height: 460px;
    margin-right: 10%;
}

@media only screen and (max-device-width:440px) {
    .Explication{
        width: 75%;
    }
    .headline{
        height: 4vh;
    }
    .headline h1{
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .How-we-are p{
        font-size: 15px;
    }
    .span{
        width: 100px;
        border-bottom: solid black 3px;
    }
    .ThanksCards{
        width: 90%;
    }
    .ThanksCards img{
        width: 110px;
    }
    .Pic_box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Pic_Section{
        align-items: center;
    }
    .laptopPic{
        width:300px;
    }
    .IPhonePic{
        width: 230px;
        height: 430px;
        margin-top: 20px;
        margin-right: 1px;
    }
    
}

@media only screen and (min-device-width:700px) and (max-device-width:1024px) {
    .Explication{
        width: 90%;
    }
    .headline{
        height: 4vh;
    }
    .headline h1{
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .How-we-are p{
        font-size: 16px;
    }
    .span{
        width: 170px;
        border-bottom: solid black 3px;
    }
    .ThanksCards{
        width: 30%;
        margin-right: 20px;
    }
    .ThanksCards img{
        width: 150px;
    }
    .laptopPic{
        width:350px;
    }
    .Pic_Section h1{
        font-size: 30px;
    }
    .IPhonePic{
        width: 230px;
        height: 430px;
        margin-top: 20px;
        margin-right: 20px;
    }
    .Pic_box{
        justify-content: space-evenly;
    }
}