@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat+Alternates&display=swap");

.add-needvol-form {
  width: 100vw;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
background: white;
}
.A-input-group{
  /* width: 50%; */
  /* height: 40vh; */
}
.B-input-group{
/* width: 50%; */
/* height: 40vh; */

}
.C-input-group{
  width: 100%;


}

.add-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

}
.addneed-img{
  width: 70vw;
  height: auto;
}
.intro{
  width: 100vw;
  height: 40vh;
  background: pink;
}
.send-btn{
  font-family: "Montserrat Alternates", sans-serif !important;
  font-weight: 600!important;
  

}

.space-div{
  height: 20vh;
  width: 100%;
}