@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat+Alternates&display=swap");
.add-title{
display: flex;
/* justify-content: center; */
align-items: center;
}
.the-title{
  font-size: 100px;
  font-weight: bolder;
  font-family: "Berkshire Swash", cursive;
  text-shadow: white 20px 20px 20px;
  
  

}
.add-needvol-form {
  width: 100vw;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
background: white;
background-image: url(../../../../public/Media/Regi-BG.jpg);
background-position: center;
}
.A-input-group{
  /* width: 50%; */
  /* height: 40vh; */
}
.B-input-group{
/* width: 50%; */
/* height: 40vh; */

}
.C-input-group{
  width: 100vw;
  margin-bottom: 50vh;
  position:absolute;
  left: 25vw;
  margin-top: 100vh;

}

.add-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

}
.addneed-img{
  width: 70vw;
  height: auto;
}
.intro{
  width: 100vw;
  height: 60vh;
  background: white;
}
.send-btn{
  font-family: "Montserrat Alternates", sans-serif !important;
  

}

.space-div{
  height: 20vh;
  width: 100%;
  background-image: url(../../../../public/Media/Regi-BG.jpg);
background-position: right;
background: white;
background-size: cover;
filter: opacity(0.9);
}
video{
height: 150;
width: 100vw;
}